.body-page{
    background-color:rgb(3, 3, 92) ;
}
*{color:white;
    font-family: "Outfit", sans-serif
}
:root{
    --Neutral900: hsl(243, 96%, 9%);
    --Neutral800: hsl(243, 27%, 20%);
    --Neutral700: hsl(243, 23%, 24%);
    --Neutral600: hsl(243, 23%, 30%);
    --Neutral300: hsl(240, 6%, 70%);
    --Neutral200: hsl(250, 6%, 84%);
    --Neutral0: hsl(0, 0%, 100%);
    --Orange500: hsl(28, 100%, 52%);
    --Blue500: hsl(233, 67%, 56%);
    --Blue700: hsl(248, 70%, 36%);
}
.nav{
    display: flex;
    justify-content: space-between;
    padding:20px 70px
}
.units{
    background-color: var(--Neutral700);
    border-radius: 10px;
    border-color:transparent;
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding:10px
}