.body-page{
    background-color:rgb(3, 3, 92) ;
    width: 310px;
    margin:0 auto;
}
*{color:white;
    font-family: "Outfit", sans-serif
}
:root{
    --Neutral900: hsl(243, 96%, 9%);
    --Neutral800: hsl(243, 27%, 20%);
    --Neutral700: hsl(243, 23%, 24%);
    --Neutral600: hsl(243, 23%, 30%);
    --Neutral300: hsl(240, 6%, 70%);
    --Neutral200: hsl(250, 6%, 84%);
    --Neutral0: hsl(0, 0%, 100%);
    --Orange500: hsl(28, 100%, 52%);
    --Blue500: hsl(233, 67%, 56%);
    --Blue700: hsl(248, 70%, 36%);
}
.show-information, .error-information{
    display: none;
}
.error-information{
    width: 85%;
    margin:0 auto;
    height: 350px;
}
.error-img{
    margin:0 auto;
    display: flex;
}
.retry-error{
    display: flex;
    align-items: center;
    background-color: var(--Neutral800);
    border-radius:10px;
    height: 35px;
}
.retry-img{
    margin-left: 10px;
}
.retry{
    background-color: transparent;
    border:none;
    margin-left: 15px;

}
.nav{
    display: flex;
    justify-content: space-between;
    padding:15px 5px;
    align-items: center;
}
.weather-logo{
    width: 100px;

    display: block;
}
.units{
    background-color: var(--Neutral700);
    border-radius: 5px;
    border-color:transparent;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    height: 25px;
}
.small{
    width: 12px;
}
.search{
    background-color: var(--Neutral600);
    width: 90%;
    margin:0 auto;
    border-radius: 7px;
    display: flex;
    height: 35px;
    align-items: center;
}
.search-lupa{
    width: 15px;
    margin:0px 15px
}
.search-input{
    background-color: transparent;
    border:none;
    color:white
}
.search-button{
    background-color: var(--Blue500);
    height: 35px;
    margin: 15px;
    border-radius: 7px;
    width: 90%;
}
.principal-title{
  padding: 0px 50px;
  width: 65%;
  font-size: 35px;
}
.today{
    background-image: url(../images/bg-today-small.svg);
    height: 350px;
    width: 90%;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: 275px;
}
/**section today*/
.today-temperature{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.data-location{
    margin:0;
    padding:10px 25px
}
.today-location{
    font-size: 25px;
    margin:0;
    padding-top: 10px;
}
.data-location{
    font-size: 14px;
}
.today-temp{
    font-size: 50px;
    letter-spacing: -4px;
}
.data-location, .today-location{
    text-align: center;
}
.today-image{
    width: 70px;
}